/* SERVICE CARD STYLES */
.service-card {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.service-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 1rem 3rem rgba(0,0,0,.175) !important;
}

/* SKILLS CARD STYLES */
.skills-card {
    background-color: var(--light-card-background);
    border: 1px solid var(--light-border);
}

.dark-mode .skills-card {
    background-color: var(--dark-card-background);
    border: 1px solid var(--dark-border);
}

.skill-icon {
    color: var(--primary);
}

/* JOURNEY TIMELINE STYLES */
.journey-timeline {
    position: relative;
    max-width: 800px;
    margin: 0 auto;
    padding: 1rem 0;
}

.journey-timeline::before {
    content: '';
    position: absolute;
    top: 0;
    left: 40px;
    transform: translateX(-50%);
    height: 100%;
    width: 2px;
    background-color: var(--primary);
}

.journey-card {
    position: relative;
    margin-left: 60px;
}

.journey-icon-wrapper {
    position: absolute;
    left: -40px;
    top: 1.2rem;
    transform: translateX(-50%);
    z-index: 10;
    width: 40px;
    height: 40px;
    background-color: var(--primary);
    color: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* HOBBY CARD STYLES */
.hobby-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 150px;
    height: 1000px !; 
    transition: transform 0.2s ease;
}

.hobby-card:hover {
    transform: scale(1.05);
}

.hobby-icon {
    font-size: 2rem;
}
