.footer-icon {
    transition: transform 0.2s ease-in-out, color 0.2s ease-in-out;
    color: var(--light-text-muted);
}

.footer-icon:hover {
    transform: translateY(-3px);
    color: var(--primary);
}

.dark-mode .footer-icon {
    color: var(--dark-text-muted);
}

.dark-mode .footer-icon:hover {
    color: var(--primary);
}
.hr-footer {
    width: 50%;
}
