.footer-icon {
    transition: transform 0.2s ease-in-out, color 0.2s ease-in-out;
    color: var(--bs-gray-600);
}

.footer-icon:hover {
    transform: translateY(-3px);
    color: var(--bs-primary);
}

.dark-mode .footer-icon {
    color: var(--bs-gray-400);
}

.dark-mode .footer-icon:hover {
    color: var(--bs-primary);
}
